.__DateRange__ {
    height: 70px;
    border-bottom: 1px solid darkgray;
}

.__DateRange__ .daterange {
    display: flex;
    margin-top: 10px;
}

.__DateRange__ .title {
    margin-top: 15px;
    margin-left: 10px;
}

.__DateRange__ .range {
    display: flex;
}

.__DateRange__ .text {
    margin-top: 15px;
    margin-left: 40px;
}

.__DateRange__ .text:hover {
    cursor: pointer;
}

.__DateRange__ .change {
    margin: 5px 0 25px 40px;
    width: 150px;
    font-weight: 600;
}

.rdrCalendarWrapper {
    border: 2px solid #6C757D;
}
.rdrDefinedRangesWrapper {
    display: none !important;
}
.popover-inner, .popover-body {
    border: none !important;
    padding: 0 !important;
}