.__Weather__ .weather-info {
    display: flex;
}

.__Weather__ .weather-info {
    margin: 15px 20px;
}

.__Weather__ .weather-info h5 {
    margin-top: 10px;
}

.__Weather__ .weather-info .name {
    width: 50vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.__Weather__ .weather-info .date-range {
    margin-left: auto;
    margin-right: auto;
}

.__Weather__ .weather-info .button {
    margin-left: auto;
    width: 200px;
    height: 40px;
}